/* DEFAULT STYLES */
body {
  font-size: 14px;
  color: #333;
  background-color: #fff;
  letter-spacing: 1px;
  font-weight: 150;
}

h2,
h3,
h4 {
  font-weight: 150;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #334;
}

.section {
  padding: 70px 0px;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  background: url('images/spinner.gif') center center no-repeat;
}

/* CAROUSEL  */

.carousel-item div {
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: black;
  display: block;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -125px;
}

.titleMessage .heading p {
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}

.titleMessage .heading .main {
  font-size: 50px;
}

.titleMessage .heading p.sub {
  font-size: 23px;
  height: 34.5px;
}

/* NAVIGATION SECTION */

#navigation {
  background-color: #333;
  padding: 20px 10px;
  z-index: 100;
  width: 100%;
}

.navbar-brand,
.navbar-brand:hover {
  color: #fff;
}

.navbar-toggler {
  color: white;
}

.navbar-toggler-icon i {
  color: white;
  font-size: 30px;
}

.navbar-toggler:focus {
  box-shadow: 0, 0, 0, #fff;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

#navigation li {
  padding: 0px 10px;
}

#navigation li a {
  color: #fff;
  font-size: 15px;
  font-weight: 150;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
}

/* ABOUT SECTION */
.aboutImg {
  max-width: 100%;
  padding-bottom: 50px;
}

h1.display-4 {
  font-weight: 150;
}

dl {
  padding-top: 15px;
}

.socialMedia i {
  font-size: 35px;
  letter-spacing: 3px;
  padding-top: 3px;
}

/* SKILLS SECTION */

.skillsSection,
.contactSection {
  background-color: #334;
  color: #fff;
}

.skillCont {
  margin-top: 20px;
}

.skill {
  text-align: center;
  margin-top: 25px;
}

.skill svg {
  width: 100px;
}

.skill p {
  font-size: 25px;
}

/* STATS SECTION */

.squareItem {
  margin-top: 30px;
  position: relative;
}

.squareInnerContainer {
  position: relative;
  padding: 50px 15px 35px;
  text-align: center;
  border: 2px solid #334;
  border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
  content: '';
  position: absolute;
  top: 0px;
  width: 30%;
  border-bottom: 2px solid #334;
}

.squareInnerContainer:before {
  right: 0px;
}

.squareInnerContainer:after {
  left: 0px;
}

.squareContent h2 {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 200;
  color: #334;
}

.squareContent h3 {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
}

.squareIcon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 45px;
  margin-left: -20%;
  color: #334;
}

/* CONTACT SECTION */

.subHeading {
  font-size: 15px;
  margin-bottom: 0px;
}

#contact .btn {
  margin-top: 15px;
  border-radius: 0px;
}

/* PORTFOLIO SECTION */

.section .heading {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}

.filter {
  text-align: center;
  width: 100%;
}

.filter a {
  color: #333;
  padding: 10px 13px;
}

.filter a:hover {
  color: rgba(0, 0, 0, 0.4);
}

.filter li {
  padding: 5px 5px 0px;
}

.filter .current {
  background-color: #333;
  border-color: #333;
  color: #fff;
}

.itemsContainer {
  width: 100%;
  margin-top: 6px;
}

.items .item {
  position: relative;
  display: block;
  overflow: hidden;
}

.items li {
  display: inline-block;
  padding: 5px;
}

.items li img {
  width: 100%;
  transition: all 0.2s linear, 1s;
}

.icons {
  position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px auto 0px -47px;
  text-align: center;
  z-index: 3;
}

.items a {
  width: 40px;
  height: 40px;
  background-color: #334;
  position: relative;
  display: inline-block;
  transition: all 0.2s linear, 0.2s;
}

.items .icons i {
  color: #fff;
  font-size: 20px;
  margin-top: 9px;
}

.imageOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
  opacity: 1;
}

.items .open {
  float: left;
  left: -500px;
}

.items .projectLink {
  float: right;
  right: -500px;
}

.items .item:hover .open {
  left: 0px;
}

.items .item:hover .projectLink {
  right: 0px;
}

.items .item:hover img {
  transform: scale(1.05, 1.05);
}

.items {
  padding: 0px;
}

.copyrightSection {
  background-color: #000;
  color: #fff;
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0px;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.nav-link span {
  position: relative;
  display: block;
  cursor: pointer;
  max-width: max-content;
  margin: auto;
  padding: 0px 5px;
}

.nav-link span:before,
.nav-link span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

.nav-link span:before {
  left: -2.5px;
}
.nav-link span:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav-link span:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav-link span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

/* CONTACT BUTTONS */

.titleMessage .btn {
  display: block;
  margin: 1em auto;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  line-height: 37px;
  max-width: fit-content;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  transition: 0.6s;
  opacity: 0.7;
  text-shadow: 1px 1px rgb(0 0 0 / 40%);
}

.titleMessage .btn:hover {
  text-decoration: none;
  color: white;
  opacity: 1;
}

.btn-1 {
  font-weight: 100;
}

.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.btn-1 svg:hover {
  box-shadow: none;
}

.btn-1 rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}

.btn-1:hover {
  font-weight: 900;
  letter-spacing: 1px;
}

.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.titleMessage * {
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

.titleMessage .container {
  margin-top: 3em;
}
